.project {
}

.cover {
  float: left;
  margin-right: 24px;
  margin-bottom: 48px;
}

.cover img {
  width: 600px;
}

.title {
  margin-bottom: 12px;
  font-weight: 600;
}

.tags {
}

img {
  max-width: 900px;
  display: block;
  margin-bottom: 12px;
}

.description {
  margin: 24px 0px;
  line-height: 120%;
  width: 800px;
}

.description a {
  background-color: #ff003316;
}
.description a:hover {
  background-color: #ff0033;
  font-weight: 600;
}

.desctop {
  width: 900px;
  max-width: 860px;
  padding: 16px;
  border-right: 4px solid #ff1933;
  border-left: 4px solid #ff1933;
  border-top: 4px solid #ff1933;
  margin-bottom: -0px;
}

.varPlay p {
  font-size: 144px;
}

.icon {
  float: left;
  margin-right: 12px;
}
.icon:hover {
  background-color: white;
}

.alert {
  padding: 12px;
  border: 2px solid #FFCC00;
  border-radius: 6px;
  background-color: #FFCC000F;
}
.instruction {
  position: absolute;
  top: 0px;
  left:0px;
  font-family: "Source Code Pro", monospace;
  font-size: 12px;
  text-align: left;

}
