@media only screen and (max-width: 700px) {
  .project {
    margin-bottom: 36px;
  }

  .cover {
    float: left;
    margin-right: 24px;
    margin-bottom: 12px;
  }

  .cover img {
    max-width: var(--max-width);
  }

  .title {
    margin-bottom: 12px;
    font-weight: 600;
  }

  .tags {
  }

  .description {
    margin: 24px 0px;
    line-height: 120%;
    width: var(--max-width);
  }
  .desctop {
    max-width: 82vw;
    padding: 4vw;
    border-right: 1vw solid #ff1933;
    border-left: 1vw solid #ff1933;
    border-top: 1vw solid #ff1933;
    margin-bottom: -0px;
  }
  .description a {
    background-color: #ff003316;
  }
  .description a:hover {
    background-color: #ff0033;
  }
  #varUnit {
    font-size: 72px;
    background-color: #66e5cc;
    max-width: var(--max-width);
    text-align: center;
    padding-top: 36px;
  }

  #varUnit p {
    min-height: 200px;
    max-height: 200px;
  }

  .varSup {
    margin-top: 24px;
    font-family: "Source Code Pro", monospace;
    font-size: 16px;
    background-color: #ffffff;

    border: 12px solid #66e5cc;
    text-align: left;
    z-index: 2;
  }

  input {
    min-width: 250px;
  }
  label {
    display: block;
    margin-left: 12px;
  }
  .varPlay p {
    font-size: 100px;
  }
}
