.project {
	

}

.cover {
	float: left;
	margin-right: 24px;
	margin-bottom: 48px;
}

.cover img {
	width:550px;
}

.title {
	margin-bottom: 12px;
	font-weight: 600;
}

.tags {

}

img {
	max-width: 550px;
}


.description {
	margin: 24px 0px;
	line-height: 120%;	
	width: 550px;
}

.description a {
	background-color: #ff003316;

}
.description a:hover {
	/*background-color: #ff0033;*/

}