
@font-face {
  font-family: "Mier-Bol";
  src: url("Mier-Bol.otf") format("opentype");
}
.Mier-Bol {
  font-family: "Mier-Bol";
}

@font-face {
  font-family: "Cheese_color_colr";
  src: url("Cheese_color_colr.otf") format("opentype");
}
.Cheese_color_colr {
  font-family: "Cheese_color_colr";
}

@font-face {
  font-family: "Pan-FarhillDouble01";
  src: url("Pan-FarhillDouble01.otf") format("opentype");
}
.Pan-FarhillDouble01 {
  font-family: "Pan-FarhillDouble01";
}

@font-face {
  font-family: "Marty-Duo_colr";
  src: url("Marty-Duo_colr.otf") format("opentype");
}
.Marty-Duo_colr {
  font-family: "Marty-Duo_colr";
}

@font-face {
  font-family: "Two2_sbix";
  src: url("Two2_sbix.ttf") format("truetype");
}
.Two2_sbix {
  font-family: "Two2_sbix";
}

@font-face {
  font-family: "somename";
  src: url("somename.otf") format("opentype");
}
.somename {
  font-family: "somename";
}

@font-face {
  font-family: "WayneRound";
  src: url("WayneRound.otf") format("opentype");
}
.WayneRound {
  font-family: "WayneRound";
}

@font-face {
  font-family: "Snel";
  src: url("Snel.otf") format("opentype");
}
.Snel {
  font-family: "Snel";
}

@font-face {
  font-family: "Niccolo-Test_normalized";
  src: url("Niccolo-Test_normalized.otf") format("opentype");
}
.Niccolo-Test_normalized {
  font-family: "Niccolo-Test_normalized";
}

@font-face {
  font-family: "Marty-Heavy";
  src: url("Marty-Heavy.otf") format("opentype");
}
.Marty-Heavy {
  font-family: "Marty-Heavy";
}

@font-face {
  font-family: "Pan-Taper_one";
  src: url("Pan-Taper_one.otf") format("opentype");
}
.Pan-Taper_one {
  font-family: "Pan-Taper_one";
}

@font-face {
  font-family: "spider";
  src: url("spider.otf") format("opentype");
}
.spider {
  font-family: "spider";
}

@font-face {
  font-family: "Contrast";
  src: url("Contrast.otf") format("opentype");
}
.Contrast {
  font-family: "Contrast";
}
